#mainBarText ul{
    padding-left: 45px;
    display: flex;
    align-items: center;
    padding-top: 8px;
}
#mainBarText ul li{
    display: inline;
    margin-right: 30px;
    font-family: Semilight,sans-serif;
    font-size: 14px;
    color: rgba(240,240,240,0.9);
    opacity: 99%;
}
#mainBarText ul li:hover{
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-name: mainBarTextGlow;
}
#mainBarText ul li a{
    color: inherit;
    text-decoration: none;
}
.mainBarStyle{
    background-color: rgba(45, 45, 45, 0.85);
    height: 100px;
    display: flex;
    align-items: center;
    opacity: 100%;
}
.mainBarImageBox{
    padding-top: 3px;
    width: 85px;
    display: flex;
    justify-content: center;
}
.mainBarImageText{
    padding-top: 9px;
}
.mainBarImageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    overflow: hidden;
}


.mainBarContainer{
    position: fixed;
    width: 100%;
    z-index: 5;
}
@keyframes mainBarTextGlow {
    to {
        color: rgb(231,231,255);
        text-shadow: 0 0 3px rgb(140,130,245);
    }
}