.debugTextContainer{
    position: fixed;
    left: 0;
    text-align: left;
    color: #fed062;
    opacity: 90%;
    font-size: 16px;
}
.debugDisplayFlex{
    display: flex;
}
.debugTextTitle{
    color: #2badfe;
}
.debugText{
    color: #bcfe74;
}
.debugLyricText{
    color: white;
    display: flex;
}