.musicBodyContainer{
    font-family: Semibold,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.musicBodyRemindText{
    opacity: 80%;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.musicBodyMusicControlBar{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#musicBodyLyricContainer{
    padding: 10px 0;
}

#musicLyricTextContainer{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#musicLyricMainText{
    overflow-y: scroll;
    height: 100px;
    width: 520px;
}

#musicLyricMainText::-webkit-scrollbar{
    width: 6px;
    background-color: rgb(190,190,190);
    border-radius: 5px;
}
#musicLyricMainText::-webkit-scrollbar-thumb{
    background-color: rgb(80,80,80);
    border-radius: 5px;
}

#timeLineText{
    display: none;
}

.newLine{
    padding: 10px 0;
}

.newTimeLine{
    display: none;
    justify-content: center;
}
.newTextLine{
    display: flex;
    justify-content: center;
}
.newTextTSLine{
    font-size: 18px;
    display: flex;
    min-width: 10px;
    justify-content: center;
}