.musicIndexContainer{
    width: 100%;
    height: 300px;
}
.musicIndexItemContainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 50px;
}
.musicIndexItemTextContainer{
    width: 250px;
    height: 260px;
    padding-left: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.musicIndexItemTextTitleContainer{
    font-family: Semibold,sans-serif;
    padding-top: 10px;
}
.musicIndexItemTextInfoContainer{
    font-family: Semilight,sans-serif;
    font-size: 14px;
    padding-top: 60px;
}

.musicIndexItemTextTitle{
    font-size: 35px;
}
.musicIndexItemTextArtist{
    font-size: 23px;
}

.musicIndexItemImageContainer{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.musicIndexItemImage{
    height: 100%;
}