.musicBodyContainer{
    font-family: Semibold,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.musicBodyRemindText{
    opacity: 80%;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.musicBodyMusicControlBar{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}